@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*FONTS*/
/*END FONTS*/
/*GLYPHTER*/
@font-face {
  font-family: 'Glyphter';
  src: url("../fonts/Glyphter.eot");
  src: url("../fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("../fonts/Glyphter.woff") format("woff"), url("../fonts/Glyphter.ttf") format("truetype"), url("../fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 19, ../sass/main.scss */
[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*END GLYPHTER*/
/*COLORS*/
/*END COLORS*/
/*GLOBAL STYLES*/
/* line 38, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 42, ../sass/main.scss */
a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 54, ../sass/main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* line 64, ../sass/main.scss */
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  outline: 0;
}

/* line 82, ../sass/main.scss */
html {
  font-size: 62.5%;
}

/* line 86, ../sass/main.scss */
body {
  box-sizing: border-box;
  margin: 0 auto;
}

/* line 91, ../sass/main.scss */
h1 {
  font-size: 5rem;
}

/* line 95, ../sass/main.scss */
h2 {
  font-size: 4rem;
}

/* line 99, ../sass/main.scss */
h3 {
  font-size: 3rem;
}

/* line 103, ../sass/main.scss */
h4 {
  font-size: 2rem;
}

/*CONTAINER*/
/* line 107, ../sass/main.scss */
.container {
  width: 1200px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*END CONTAINER*/
/*SECTION TITLE*/
/* line 115, ../sass/main.scss */
.section_title {
  text-align: center;
}
/* line 118, ../sass/main.scss */
.section_title h2 {
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 125, ../sass/main.scss */
.section_title .separator {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 129, ../sass/main.scss */
.section_title .separator .line {
  display: inline-block;
  width: 250px;
  height: 1px;
  background-color: #222;
}
/* line 136, ../sass/main.scss */
.section_title .separator .circle {
  display: inline-block;
  margin: 0 30px;
  width: 20px;
  height: 20px;
  margin-bottom: -8px;
  border-radius: 50%;
  background-color: #ff2c2c;
}

/*END SECTION TITLE*/
/***SECTION CONTENT***/
/* line 150, ../sass/main.scss */
.section_content {
  padding: 80px 0;
}

/***END SECTION CONTENT***/
/***SECTION DECORATION***/
/* line 156, ../sass/main.scss */
.section_decoration {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -36px;
  z-index: 103;
}
/* line 166, ../sass/main.scss */
.section_decoration .icon {
  background: #966f33;
  border-radius: 50%;
  border: 10px solid #fbfbfb;
  box-shadow: 0 4px 4px #d4d4d4;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 177, ../sass/main.scss */
.section_decoration .icon .wrench_icon {
  height: 24px;
  width: 24px;
}

/***END SECTION DECORATION***/
/*FIXED MENU*/
/* line 185, ../sass/main.scss */
.fixed-menu {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

/*END FIXED MENU*/
/*NAVIGATION*/
/* line 194, ../sass/main.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
/* line 200, ../sass/main.scss */
.header a {
  color: #ffffff;
}
/* line 204, ../sass/main.scss */
.header .logotype {
  flex: 1;
}
/* line 207, ../sass/main.scss */
.header .logotype a {
  color: #ffffff;
  font-family: "Poiret One";
  font-size: 4.5rem;
}
/* line 213, ../sass/main.scss */
.header .logotype a:hover span {
  color: #ff2c2c;
}
/* line 218, ../sass/main.scss */
.header .logotype a span {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/* line 228, ../sass/main.scss */
.header nav {
  flex: 2;
}
/* line 231, ../sass/main.scss */
.header nav .nav {
  display: flex;
  justify-content: space-between;
}
/* line 235, ../sass/main.scss */
.header nav .nav a {
  font-size: 1.5rem;
  padding-bottom: 7px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/* line 246, ../sass/main.scss */
.header nav .nav a:hover {
  color: #ff2c2c;
  background-color: transparent;
  border-bottom: 2px solid #ff2c2c;
  transition: border-bottom, 0s;
}
/* line 253, ../sass/main.scss */
.header nav .nav a:focus {
  background-color: transparent;
}
/* line 258, ../sass/main.scss */
.header nav .nav .active {
  color: #ff2c2c;
  border-bottom: 2px solid #ff2c2c;
}

/*END NAVIGATION*/
/* line 267, ../sass/main.scss */
.wrap_section {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
/* line 272, ../sass/main.scss */
.wrap_section .about_section {
  width: 30%;
  font-family: "Lato", sans-serif;
}
/* line 276, ../sass/main.scss */
.wrap_section .about_section h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
}
/* line 281, ../sass/main.scss */
.wrap_section .about_section p {
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  font-size: 1.4rem;
  line-height: 1.5;
}

/*END GLOBAL STYLES*/
/***HOME***/
/* line 292, ../sass/main.scss */
#home {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  position: relative;
  height: 100vh;
  background: url("../images/background/home.jpg") center center no-repeat fixed;
  background-size: cover;
  width: 100%;
}

/* line 303, ../sass/main.scss */
.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 310, ../sass/main.scss */
.banner_content {
  align-self: center;
  color: #666;
  text-align: center;
  min-width: 40%;
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.8);
  outline: 4px double #ff2c2c;
  outline-offset: 8px;
  font-family: "Poiret One";
}

/* line 322, ../sass/main.scss */
.banner_footer {
  margin-bottom: 30px;
  z-index: 2;
  align-self: center;
}
/* line 329, ../sass/main.scss */
.banner_footer a {
  display: block;
  -webkit-animation: up-down linear 0.9s;
  animation: up-down linear 0.9s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
@-webkit-keyframes up-down {
  0%,
      100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -7px);
  }
  75% {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px);
  }
}
@keyframes up-down {
  0%,
      100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -7px);
  }
  75% {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px);
  }
}
/* line 376, ../sass/main.scss */
.banner_footer .btn-round {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 387, ../sass/main.scss */
.banner_footer .btn-round:hover {
  background: #e1e1e1;
  outline: none;
}
/* line 392, ../sass/main.scss */
.banner_footer .btn-round:hover i {
  border: solid #000000;
  border-width: 0 1px 1px 0;
  padding: 4px;
}
/* line 398, ../sass/main.scss */
.banner_footer .btn-round:focus {
  outline: none;
}
/* line 402, ../sass/main.scss */
.banner_footer .btn-round i {
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  padding: 4px;
}
/* line 408, ../sass/main.scss */
.banner_footer .btn-round .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/***END HOME***/
/***ABOUT ME***/
/* line 416, ../sass/main.scss */
#about {
  background: url("../images/background/about.png") center center;
  box-shadow: 0 4px 8px #d4d4d4;
  min-height: 650px;
  outline: none;
  position: relative;
}
/* line 423, ../sass/main.scss */
#about .tree {
  background: url("../images/background/tree.png") left center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 430, ../sass/main.scss */
#about .header {
  background: #f3f3f3;
  width: 100%;
  box-shadow: 0 1px 15px #000000;
  margin: 0;
  position: relative;
  z-index: 111;
}
/* line 438, ../sass/main.scss */
#about .header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
/* line 444, ../sass/main.scss */
#about .header .header_content .nav a {
  color: #000000;
}
/* line 447, ../sass/main.scss */
#about .header .header_content .nav a:hover {
  color: #ff2c2c;
}
/* line 453, ../sass/main.scss */
#about .header .header_content .logotype a {
  color: #000000;
}
/* line 457, ../sass/main.scss */
#about .header .header_content .logotype a:hover span {
  color: #ff2c2c;
}

/* line 467, ../sass/main.scss */
.info_wrap {
  margin: 0 auto;
  width: 70%;
  margin-top: 100px;
  text-align: center;
}
/* line 473, ../sass/main.scss */
.info_wrap .owl-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
/* line 479, ../sass/main.scss */
.info_wrap .owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
/* line 484, ../sass/main.scss */
.info_wrap .owl-carousel .item {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 492, ../sass/main.scss */
.info_wrap .table {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5;
  font-size: 1.7rem;
  width: 100%;
}
/* line 500, ../sass/main.scss */
.info_wrap .table .title {
  font-weight: bold;
  padding-right: 10px;
}
/* line 505, ../sass/main.scss */
.info_wrap .table .break {
  padding-right: 15px;
}

/* line 511, ../sass/main.scss */
.myself {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
/* line 520, ../sass/main.scss */
.myself h3 {
  text-align: right;
  align-self: flex-end;
  margin: 20px 0;
  font-weight: bold;
  letter-spacing: 1.5px;
}
/* line 528, ../sass/main.scss */
.myself .signature {
  text-align: right;
  align-self: flex-end;
  /* Firefox */
  -moz-transform: rotate(-15deg);
  /* Для IE */
  -ms-transform: rotate(-15deg);
  /* Для Safari, Chrome, iOS */
  -webkit-transform: rotate(-15deg);
  /* Для Opera */
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  width: 200px !important;
}

/***END ABOUT ME***/
/***SERVICES***/
/* line 546, ../sass/main.scss */
#services {
  background: #eeeff0;
}

/* line 550, ../sass/main.scss */
.services_items {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
/* line 556, ../sass/main.scss */
.services_items .services_item {
  width: 30%;
}
/* line 559, ../sass/main.scss */
.services_items .services_item .icon-use {
  font-family: "Glyphter" !important;
}
/* line 563, ../sass/main.scss */
.services_items .services_item h3 {
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}
/* line 568, ../sass/main.scss */
.services_items .services_item .services_line {
  height: 2px;
  width: 40px;
  background: #ff2c2c;
  margin: 20px 0 15px;
}
/* line 575, ../sass/main.scss */
.services_items .services_item p {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2.5;
}

/***END SERVICES***/
/***SKILLS***/
/* line 584, ../sass/main.scss */
#skills {
  background: url("../images/background/about.png") center center;
  box-shadow: 0 4px 8px #d4d4d4;
  min-height: 650px;
  outline: none;
  position: relative;
}

/* line 592, ../sass/main.scss */
.skillst {
  width: 60%;
}

/* line 596, ../sass/main.scss */
.skillst .skillbar {
  width: 100%;
  height: 10px;
  background-color: #C0C0C0;
  position: relative;
  margin-bottom: 60px;
  padding: 2px;
  box-sizing: border-box;
}

/* line 606, ../sass/main.scss */
.skillst .count-bar {
  width: 100%;
  height: 5px;
  width: 0;
  position: relative;
}

/* line 613, ../sass/main.scss */
.skillst .count-bar {
  background-color: #818181;
}

/* line 617, ../sass/main.scss */
.skillst .count-bar span {
  font-size: 12px;
}

/* line 621, ../sass/main.scss */
.skillst .title {
  position: absolute;
  line-height: 25px;
  top: -35px;
  left: 0;
  padding-left: 10px;
  font-size: 1.6rem !important;
  font-family: "Lato", sans-serif;
}

/* line 631, ../sass/main.scss */
.skillst .count-bar .count {
  position: absolute;
  line-height: 18px;
  top: -28px;
  right: -20px;
  width: 40px;
  height: 18px;
  color: #fff;
  text-align: center;
  background-color: #2f2f2f;
}

/* line 643, ../sass/main.scss */
.skillst .count-bar .count span {
  position: relative;
  display: block;
}

/* line 648, ../sass/main.scss */
.skillst .count-bar .count span:after {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 18px;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

/* line 658, ../sass/main.scss */
.skillst .count-bar .count {
  background-color: #818181;
}

/* line 662, ../sass/main.scss */
.skillst .count-bar .count span:after {
  border-top: 4px solid #818181;
}

/* line 668, ../sass/main.scss */
.carousel-wrap {
  margin: 50px auto 0;
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* line 677, ../sass/main.scss */
.carousel-wrap .item {
  padding: 7px 0;
}
/* line 680, ../sass/main.scss */
.carousel-wrap .item h4 {
  margin-top: 7px;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
/* line 688, ../sass/main.scss */
.carousel-wrap .slide-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* line 694, ../sass/main.scss */
.carousel-wrap .slide-two .item {
  align-self: center;
  text-align: center;
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 705, ../sass/main.scss */
.carousel-wrap .slide-two .item:hover {
  opacity: 1;
}
/* line 709, ../sass/main.scss */
.carousel-wrap .slide-two .item:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* line 714, ../sass/main.scss */
.carousel-wrap .slide-two .item img {
  height: 45px;
  width: 45px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 724, ../sass/main.scss */
.carousel-wrap .slide-two .owl-nav {
  display: block !important;
}
/* line 728, ../sass/main.scss */
.carousel-wrap .slide-two .owl-nav > div {
  position: absolute;
  top: 50%;
}
/* line 733, ../sass/main.scss */
.carousel-wrap .slide-two .owl-nav .owl-prev {
  left: -40px;
  background: url("../images/icons/prev.png") no-repeat;
  background-size: cover;
}
/* line 739, ../sass/main.scss */
.carousel-wrap .slide-two .owl-nav .owl-next {
  right: -40px;
  background: url("../images/icons/next.png") no-repeat;
  background-size: cover;
}
/* line 745, ../sass/main.scss */
.carousel-wrap .slide-two .owl-nav [class*=owl-] {
  color: #000000;
  opacity: 0.6;
  margin-top: -10px;
  font-size: 14px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 756, ../sass/main.scss */
.carousel-wrap .slide-two .owl-nav [class*=owl-]:hover {
  opacity: 1;
}

/***END SKILLS***/
/***PORTFOLIO***/
/* line 764, ../sass/main.scss */
#portfolio {
  background: #eeeff0;
}

/* line 768, ../sass/main.scss */
.wrap_section {
  display: flex;
  justify-content: space-between;
}
/* line 772, ../sass/main.scss */
.wrap_section .about_section {
  align-self: center;
}

/* line 777, ../sass/main.scss */
.portfolio_items {
  width: 60%;
}

/* line 781, ../sass/main.scss */
.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style: none;
  width: 100%;
}
/* line 788, ../sass/main.scss */
.portfolio li {
  align-self: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 796, ../sass/main.scss */
.portfolio li:last-child {
  align-self: flex-start;
  align-content: flex-end;
}
/* line 801, ../sass/main.scss */
.portfolio li:hover img {
  filter: grayscale(0);
  transform: scale(1.3);
}
/* line 806, ../sass/main.scss */
.portfolio li:hover .white-bg {
  opacity: 1;
}
/* line 810, ../sass/main.scss */
.portfolio img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: transform, 0.5s;
}
/* line 817, ../sass/main.scss */
.portfolio .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  padding: 15px;
}
/* line 826, ../sass/main.scss */
.portfolio .description .white-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: background, 0.5s;
  border: 1px solid #bbb;
}
/* line 839, ../sass/main.scss */
.portfolio .description .white-bg h4 {
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
}
/* line 844, ../sass/main.scss */
.portfolio .description .white-bg p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/***END PORTFOLIO***/
/***CONTACT***/
/* line 855, ../sass/main.scss */
#contact {
  position: relative;
  background: url("../images/background/footer.jpg") center center no-repeat fixed;
  background-size: cover;
  width: 100%;
}
/* line 861, ../sass/main.scss */
#contact .section_content {
  padding-bottom: 0;
}
/* line 865, ../sass/main.scss */
#contact::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 875, ../sass/main.scss */
#contact .section_contact {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* line 883, ../sass/main.scss */
#contact .section_title {
  color: #ffffff;
}
/* line 886, ../sass/main.scss */
#contact .section_title .line {
  background-color: #ffffff;
}
/* line 891, ../sass/main.scss */
#contact .wrap_section {
  color: #ffffff;
}
/* line 895, ../sass/main.scss */
#contact label {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
/* line 900, ../sass/main.scss */
#contact .contact_form {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
/* line 907, ../sass/main.scss */
#contact .contact_form form {
  width: 100%;
}
/* line 910, ../sass/main.scss */
#contact .contact_form form .form_inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
/* line 916, ../sass/main.scss */
#contact .contact_form form .form_inputs .form_items {
  display: flex;
  flex-direction: column;
  width: 30%;
}
/* line 921, ../sass/main.scss */
#contact .contact_form form .form_inputs .form_items .form_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
/* line 926, ../sass/main.scss */
#contact .contact_form form .form_inputs .form_items .form_item input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
/* line 938, ../sass/main.scss */
#contact .contact_form form .form_message {
  width: 40%;
  display: flex;
  flex-direction: column;
}
/* line 944, ../sass/main.scss */
#contact .contact_form form textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 50px;
}
/* line 954, ../sass/main.scss */
#contact .contact_form form #messageShow {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: #ff2c2c;
}
/* line 963, ../sass/main.scss */
#contact .contact_form form .submit {
  background: transparent;
  display: block;
  align-self: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  border: 1px solid #ffffff;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/* line 979, ../sass/main.scss */
#contact .contact_form form .submit:hover {
  background: rgba(225, 225, 225, 0.5);
}
/* line 983, ../sass/main.scss */
#contact .contact_form form .submit:active, #contact .contact_form form .submit:focus {
  outline: none;
}
/* line 991, ../sass/main.scss */
#contact .social_icons {
  margin-top: 100px;
}
/* line 994, ../sass/main.scss */
#contact .social_icons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 999, ../sass/main.scss */
#contact .social_icons ul li {
  width: 20%;
  text-align: center;
  opacity: 0.5;
  transition: opacity, 0.4s ease-in-out;
  -webkit-transition: opacity, 0.4s ease-in-out;
  -moz-transition: opacity, 0.4s ease-in-out;
  -o-transition: opacity, 0.4s ease-in-out;
}
/* line 1008, ../sass/main.scss */
#contact .social_icons ul li:hover {
  opacity: 1;
}
/* line 1013, ../sass/main.scss */
#contact .social_icons ul a {
  color: #ffffff;
  display: block;
}
/* line 1018, ../sass/main.scss */
#contact .social_icons ul span {
  font-family: "Glyphter";
  font-size: 6rem;
}
/* line 1023, ../sass/main.scss */
#contact .social_icons ul h4 {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}
/* line 1030, ../sass/main.scss */
#contact .banner_footer {
  margin-top: 60px;
  z-index: 2;
}
/* line 1034, ../sass/main.scss */
#contact .banner_footer .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
/* line 1040, ../sass/main.scss */
#contact .copyright {
  color: #ffffff;
  text-align: center;
  font-family: "Poiret One";
  font-size: 2rem;
}

/***END CONTACT***/
/* monitors and laptops */
/* tablet */
@media screen and (min-width: 769px) and (max-width: 1365px) {
  /* line 1053, ../sass/main.scss */
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 568px) and (max-width: 768px) {
  /*CONTAINER*/
  /* line 1059, ../sass/main.scss */
  .container {
    width: 95%;
  }

  /*END CONTAINER*/
  /***SECTION CONTENT***/
  /* line 1064, ../sass/main.scss */
  .section_content {
    padding: 60px 0;
  }

  /***END SECTION CONTENT***/
  /*SECTION TITLE*/
  /* line 1071, ../sass/main.scss */
  .section_title .separator .line {
    width: 200px;
    height: 1px;
  }
  /* line 1076, ../sass/main.scss */
  .section_title .separator .circle {
    margin: 0 20px -8px;
  }

  /*END SECTION TITLE*/
  /*NAVIGATION*/
  /* line 1084, ../sass/main.scss */
  .header nav {
    display: none;
  }

  /*END NAVIGATION*/
  /*WRAP SECTION*/
  /* line 1090, ../sass/main.scss */
  .wrap_section {
    flex-direction: column;
    margin-top: 50px;
  }
  /* line 1094, ../sass/main.scss */
  .wrap_section .about_section {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  /*END WRAP SECTION*/
  /* line 1101, ../sass/main.scss */
  .banner_content {
    width: 50%;
    padding: 30px 0;
  }
  /* line 1105, ../sass/main.scss */
  .banner_content h2 {
    font-size: 2rem;
  }

  /*ABOUT*/
  /* line 1111, ../sass/main.scss */
  #about .info_wrap {
    width: 100%;
    margin-top: 50px;
  }
  /* line 1116, ../sass/main.scss */
  #about .tree {
    display: none;
  }
  /* line 1120, ../sass/main.scss */
  #about .myself {
    width: 100%;
  }
  /* line 1122, ../sass/main.scss */
  #about .myself p {
    line-height: 1.2;
    font-size: 1.5rem;
  }
  /* line 1128, ../sass/main.scss */
  #about table {
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
  }

  /*END ABOUT*/
  /***SERVICES***/
  /* line 1137, ../sass/main.scss */
  #services .services_items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 1142, ../sass/main.scss */
  #services .services_items .services_item {
    width: 90%;
    text-align: center;
    margin-bottom: 50px;
  }
  /* line 1147, ../sass/main.scss */
  #services .services_items .services_item:last-child {
    margin: 0;
  }
  /* line 1152, ../sass/main.scss */
  #services .services_items .services_line {
    margin: 20px auto;
  }

  /***END SERVICES***/
  /***SKILLS***/
  /* line 1160, ../sass/main.scss */
  #skills .skillst {
    width: 100%;
    margin-top: 20px;
  }
  /* line 1165, ../sass/main.scss */
  #skills .carousel-wrap {
    width: 80%;
  }

  /***END SKILLS***/
  /***PORTFOLIO***/
  /* line 1172, ../sass/main.scss */
  #portfolio .portfolio_items {
    margin: 0 auto;
    width: 100%;
  }

  /***END PORTFOLIO***/
  /***CONTACT***/
  /* line 1181, ../sass/main.scss */
  #contact .contact_form form .form_inputs {
    flex-direction: column-reverse;
  }
  /* line 1183, ../sass/main.scss */
  #contact .contact_form form .form_inputs .form_items {
    width: 100%;
  }
  /* line 1186, ../sass/main.scss */
  #contact .contact_form form .form_inputs .form_message {
    width: 100%;
  }
  /* line 1190, ../sass/main.scss */
  #contact .social_icons {
    margin-top: 50px;
  }
  /* line 1193, ../sass/main.scss */
  #contact .social_icons ul {
    flex-wrap: wrap;
  }
  /* line 1196, ../sass/main.scss */
  #contact .social_icons ul li {
    margin-top: 50px;
    width: 50%;
    flex-grow: 1px !important;
  }

  /***END CONTACT***/
}
/* mobile */
@media screen and (max-width: 567px) {
  /* line 1210, ../sass/main.scss */
  .container {
    width: 95%;
  }

  /***SECTION CONTENT***/
  /* line 1214, ../sass/main.scss */
  .section_content {
    padding: 60px 0;
  }

  /***END SECTION CONTENT***/
  /*SECTION TITLE*/
  /* line 1221, ../sass/main.scss */
  .section_title .separator .line {
    width: 125px;
    height: 1px;
  }
  /* line 1226, ../sass/main.scss */
  .section_title .separator .circle {
    margin: 0 10px -8px;
  }

  /*END SECTION TITLE*/
  /***WRAP SECTION***/
  /* line 1233, ../sass/main.scss */
  .wrap_section {
    flex-direction: column;
    margin-top: 50px;
  }
  /* line 1237, ../sass/main.scss */
  .wrap_section .about_section {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }

  /***END WRAP SECTION***/
  /***NAVIGATION***/
  /* line 1246, ../sass/main.scss */
  .header nav {
    display: none;
  }

  /***END NAVIGATION***/
  /* line 1252, ../sass/main.scss */
  .banner_content {
    width: 90%;
  }
  /* line 1255, ../sass/main.scss */
  .banner_content h2 {
    font-size: 3.5rem;
  }

  /***ABOUT***/
  /* line 1261, ../sass/main.scss */
  #about .info_wrap {
    width: 100%;
    margin-top: 50px;
  }
  /* line 1266, ../sass/main.scss */
  #about .tree {
    display: none;
  }
  /* line 1270, ../sass/main.scss */
  #about .myself {
    width: 100%;
  }
  /* line 1272, ../sass/main.scss */
  #about .myself p {
    line-height: 1.2;
    font-size: 1.2rem;
  }
  /* line 1278, ../sass/main.scss */
  #about table {
    width: 100%;
    font-size: 1.3rem;
    align-items: center;
  }

  /***END ABOUT***/
  /***SERVICES***/
  /* line 1287, ../sass/main.scss */
  #services .services_items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 1292, ../sass/main.scss */
  #services .services_items .services_item {
    width: 90%;
    text-align: center;
    margin-bottom: 50px;
  }
  /* line 1297, ../sass/main.scss */
  #services .services_items .services_item:last-child {
    margin: 0;
  }
  /* line 1302, ../sass/main.scss */
  #services .services_items .services_line {
    margin: 20px auto;
  }

  /***END SERVICES***/
  /***SKILLS***/
  /* line 1310, ../sass/main.scss */
  #skills .skillst {
    width: 90%;
    margin-top: 20px;
  }
  /* line 1315, ../sass/main.scss */
  #skills .carousel-wrap {
    width: 80%;
  }

  /***END SKILLS***/
  /***PORTFOLIO***/
  /* line 1322, ../sass/main.scss */
  #portfolio .portfolio_items {
    margin: 0 auto;
    width: 90%;
  }

  /***END PORTFOLIO***/
  /***CONTACT***/
  /* line 1331, ../sass/main.scss */
  #contact .contact_form form .form_inputs {
    flex-direction: column-reverse;
  }
  /* line 1333, ../sass/main.scss */
  #contact .contact_form form .form_inputs .form_items {
    width: 100%;
  }
  /* line 1336, ../sass/main.scss */
  #contact .contact_form form .form_inputs .form_message {
    width: 100%;
  }
  /* line 1340, ../sass/main.scss */
  #contact .social_icons {
    margin-top: 50px;
  }
  /* line 1343, ../sass/main.scss */
  #contact .social_icons ul {
    flex-wrap: wrap;
  }
  /* line 1346, ../sass/main.scss */
  #contact .social_icons ul li {
    margin-top: 50px;
    width: 50%;
    flex-grow: 1px !important;
  }

  /***END CONTACT***/
}
/***END MEDIA 567***/
