@import "compass/reset"; /*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
$lato: 'Lato', sans-serif;
$cabin: 'Cabin', sans-serif;
$mont: 'Montserrat', sans-serif;
$poiret: 'Poiret One'; /*END FONTS*/
/*GLYPHTER*/
@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.eot');
  src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../fonts/Glyphter.woff') format('woff'), url('../fonts/Glyphter.ttf') format('truetype'), url('../fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$glyph: 'Glyphter'; /*END GLYPHTER*/
/*COLORS*/
$accent: #ff2c2c;
$white: #ffffff;
$black: #000000;
$wood: #966f33;
$gold: #ffd700;
$grey-bg: #eeeff0;
$paper: #978D83; /*END COLORS*/
/*GLOBAL STYLES*/
* {
  box-sizing: border-box;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}
/*CONTAINER*/
.container {
  width: 1200px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/*END CONTAINER*/
/*SECTION TITLE*/
.section_title {
  text-align: center;

  h2 {
    font-size: 4rem;
    font-family: $lato;
    font-weight: bold;
    text-transform: uppercase;
  }

  .separator {
    margin-top: 30px;
    margin-bottom: 30px;

    .line {
      display: inline-block;
      width: 250px;
      height: 1px;
      background-color: #222;
    }

    .circle {
      display: inline-block;
      margin: 0 30px;
      width: 20px;
      height: 20px;
      margin-bottom: -8px;
      border-radius: 50%;
      background-color: $accent;
    }
  }
}
/*END SECTION TITLE*/
/***SECTION CONTENT***/

.section_content {
  padding: 80px 0;
}
/***END SECTION CONTENT***/
/***SECTION DECORATION***/

.section_decoration {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -36px;
  z-index: 103;

  .icon {
    background: $wood;
    border-radius: 50%;
    border: 10px solid #fbfbfb;
    box-shadow: 0 4px 4px #d4d4d4;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrench_icon {
      height: 24px;
      width: 24px;
    }
  }
}
/***END SECTION DECORATION***/
/*FIXED MENU*/
.fixed-menu {
  position: fixed!important;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
/*END FIXED MENU*/
/*NAVIGATION*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  a {
    color: $white;
  }

  .logotype {
    flex: 1;

    a {
      color: $white;
      font-family: $poiret;
      font-size: 4.5rem;

      &:hover {
        span {
          color: $accent;
        }
      }

      span {
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
      }
    }
  }

  nav {
    flex: 2;

    .nav {
      display: flex;
      justify-content: space-between;

      a {
        font-size: 1.5rem;
        padding-bottom: 7px;
        text-transform: uppercase;
        color: $white;
        font-family: $mont;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        &:hover {
          color: $accent;
          background-color: transparent;
          border-bottom: 2px solid $accent;
          transition: border-bottom, 0s;
        }

        &:focus {
          background-color: transparent;
        }
      }

      .active {
        color: $accent;
        border-bottom: 2px solid $accent;
      }
    }
  }
}
/*END NAVIGATION*/

.wrap_section {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;

  .about_section {
    width: 30%;
    font-family: $lato;

    h3 {
      font-family: $lato;
      text-align: center;
    }

    p {
      font-family: $mont;
      margin-top: 30px;
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}
/*END GLOBAL STYLES*/
/***HOME***/

#home {
  color: $white;
  font-size: 1.5rem;
  font-family: $lato;
  position: relative;
  height: 100vh;
  background: url('../images/background/home.jpg') center center no-repeat fixed;
  background-size: cover;
  width: 100%;
}

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner_content {
  align-self: center;
  color: #666;
  text-align: center;
  min-width: 40%;
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.8);
  outline: 4px double $accent;
  outline-offset: 8px;
  font-family: $poiret;
}

.banner_footer {
  margin-bottom: 30px;
  z-index: 2;
  align-self: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  a {
    display: block;
    -webkit-animation: up-down linear 0.9s;
    animation: up-down linear 0.9s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    @-webkit-keyframes up-down {
      0%,
      100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, -7px);
        transform: translate(0, -7px);
      }

      75% {
        -webkit-transform: translate(0, 7px);
        transform: translate(0, 7px);
      }
    }
    @keyframes up-down {
      0%,
      100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      25% {
        -webkit-transform: translate(0, -7px);
        transform: translate(0, -7px);
      }

      75% {
        -webkit-transform: translate(0, 7px);
        transform: translate(0, 7px);
      }
    }
  }

  .btn-round {
    // background: transparent;
    width: 45px;
    height: 45px;
    border: 1px solid $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
      background: rgba(225, 225, 225, 1);
      outline: none;
    }

    &:hover i {
      border: solid $black;
      border-width: 0 1px 1px 0;
      padding: 4px;
    }

    &:focus {
      outline: none;
    }

    i {
      border: solid $white;
      border-width: 0 1px 1px 0;
      padding: 4px;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
/***END HOME***/
/***ABOUT ME***/
#about {
  background: url("../images/background/about.png") center center;
  box-shadow: 0 4px 8px #d4d4d4;
  min-height: 650px;
  outline: none;
  position: relative;

  .tree {
    background: url("../images/background/tree.png") left center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .header {
    background: #f3f3f3;
    width: 100%;
    box-shadow: 0 1px 15px $black;
    margin: 0;
    position: relative;
    z-index: 111;

    .header_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;

      .nav a {
        color: $black;

        &:hover {
          color: $accent;
        }
      }

      .logotype {
        a {
          color: $black;

          &:hover {
            span {
              color: $accent;
            }
          }
        }
      }
    }
  }
}

.info_wrap {
  margin: 0 auto;
  width: 70%;
  margin-top: 100px;
  text-align: center;

  .owl-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .owl-stage {
      display: flex;
      align-items: center;
    }

    .item {
      position: relative;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5;
    font-size: 1.7rem;
    width: 100%;

    .title {
      font-weight: bold;
      padding-right: 10px;
    }

    .break {
      padding-right: 15px;
    }
  }
}

.myself {
  font-size: 2rem;
  font-family: $lato;
  line-height: 1.5;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  h3 {
    text-align: right;
    align-self: flex-end;
    margin: 20px 0;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  .signature {
    text-align: right;
    align-self: flex-end;
    /* Firefox */
    -moz-transform: rotate(-15deg);
    /* Для IE */
    -ms-transform: rotate(-15deg);
    /* Для Safari, Chrome, iOS */
    -webkit-transform: rotate(-15deg);
    /* Для Opera */
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 200px!important;
  }
}
/***END ABOUT ME***/
/***SERVICES***/

#services {
  background: $grey-bg;
}

.services_items {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-top: 80px;

  .services_item {
    width: 30%;

    .icon-use {
      font-family: $glyph!important;
    }

    h3 {
      font-family: $lato;
      margin-top: 20px;
    }

    .services_line {
      height: 2px;
      width: 40px;
      background: $accent;
      margin: 20px 0 15px;
    }

    p {
      font-size: 1.3rem;
      font-family: $mont;
      line-height: 2.5;
    }
  }
}
/***END SERVICES***/
/***SKILLS***/
#skills {
  background: url("../images/background/about.png") center center;
  box-shadow: 0 4px 8px #d4d4d4;
  min-height: 650px;
  outline: none;
  position: relative;
}

.skillst {
  width: 60%;
}

.skillst .skillbar {
  width: 100%;
  height: 10px;
  background-color: #C0C0C0;
  position: relative;
  margin-bottom: 60px;
  padding: 2px;
  box-sizing: border-box;
}

.skillst .count-bar {
  width: 100%;
  height: 5px;
  width: 0;
  position: relative;
}

.skillst .count-bar {
  background-color: #818181;
}

.skillst .count-bar span {
  font-size: 12px;
}

.skillst .title {
  position: absolute;
  line-height: 25px;
  top: -35px;
  left: 0;
  padding-left: 10px;
  font-size: 1.6rem !important;
  font-family: $lato;
}

.skillst .count-bar .count {
  position: absolute;
  line-height: 18px;
  top: -28px;
  right: -20px;
  width: 40px;
  height: 18px;
  color: #fff;
  text-align: center;
  background-color: #2f2f2f;
}

.skillst .count-bar .count span {
  position: relative;
  display: block;
}

.skillst .count-bar .count span:after {
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 18px;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.skillst .count-bar .count {
  background-color: #818181;
}

.skillst .count-bar .count span:after {
  border-top: 4px solid #818181;
}

.carousel-wrap {}

.carousel-wrap {
  margin: 50px auto 0;
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .item {
    padding: 7px 0;

    h4 {
      margin-top: 7px;
      font-size: 1.3rem;
      font-family: $lato;
      text-transform: uppercase;
    }
  }

  .slide-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .item {
      align-self: center;
      text-align: center;
      // width: 100%;
      position: relative;
      z-index: 100;
      -webkit-backface-visibility: hidden;
      opacity: 0.6;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }

      &:hover img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }

      img {
        height: 45px;
        width: 45px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    }

    .owl-nav {
      display: block!important;
    }

    .owl-nav > div {
      position: absolute;
      top: 50%;
    }

    .owl-nav .owl-prev {
      left: -40px;
      background: url("../images/icons/prev.png") no-repeat;
      background-size: cover;
    }

    .owl-nav .owl-next {
      right: -40px;
      background: url("../images/icons/next.png") no-repeat;
      background-size: cover;
    }

    .owl-nav [class*=owl-] {
      color: $black;
      opacity: 0.6;
      margin-top: -10px;
      font-size: 14px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
/***END SKILLS***/
/***PORTFOLIO***/
#portfolio {
  background: $grey-bg;
}

.wrap_section {
  display: flex;
  justify-content: space-between;

  .about_section {
    align-self: center;
  }
}

.portfolio_items {
  width: 60%;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style: none;
  width: 100%;

  li {
    align-self: flex-start;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }

  li:last-child {
    align-self: flex-start;
    align-content: flex-end;
  }

  li:hover img {
    filter: grayscale(0);
    transform: scale(1.3);
  }

  li:hover .white-bg {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: transform, 0.5s;
  }

  .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $black;
    padding: 15px;

    .white-bg {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(255, 255, 255, 0.9);
      transition: background, 0.5s;
      border: 1px solid #bbb;

      h4 {
        font-family: $lato;
        margin-bottom: 15px;
      }

      p {
        text-align: center;
        font-family: $mont;
        font-size: 1.2rem;
      }
    }
  }
}
/***END PORTFOLIO***/
/***CONTACT***/

#contact {
  position: relative;
  background: url('../images/background/footer.jpg') center center no-repeat fixed;
  background-size: cover;
  width: 100%;

  .section_content {
    padding-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(000,000,000, .7);
  }

  .section_contact {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .section_title {
    color: $white;

    .line {
      background-color: $white;
    }
  }

  .wrap_section {
    color: $white;
  }

  label {
    font-family: $mont;
    font-size: 2rem;
  }

  .contact_form {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    form {
      width: 100%;

      .form_inputs {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;

        .form_items {
          display: flex;
          flex-direction: column;
          width: 30%;

          .form_item {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            input {
              background: transparent;
              border: none;
              border-bottom: 2px solid $white;
              padding: 10px 0;
              font-family: $mont;
              color: $white;
            }
          }
        }
      }

      .form_message {
        width: 40%;
        display: flex;
        flex-direction: column;
      }

      textarea {
        background: transparent;
        border: none;
        border-bottom: 2px solid $white;
        padding: 10px 0;
        font-family: $mont;
        color: $white;
        margin-bottom: 50px;
      }

      #messageShow {
        text-align: center;
        margin-bottom: 30px;
        font-family: $mont;
        font-size: 1.7rem;
        color: $accent;
        // padding-bottom: 40px;
      }

      .submit {
        background: transparent;
        display: block;
        align-self: center;
        color: $white;
        font-family: $mont;
        font-size: 1.8rem;
        border: 1px solid $white;
        width: 250px;
        height: 60px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        &:hover {
          background: rgba(225,225,225, .5);
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }

  .social_icons {
    margin-top: 100px;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        width: 20%;
        text-align: center;
        opacity: 0.5;
        transition: opacity, 0.4s ease-in-out;
        -webkit-transition: opacity, 0.4s ease-in-out;
        -moz-transition: opacity, 0.4s ease-in-out;
        -o-transition: opacity, 0.4s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }

      a {
        color: $white;
        display: block;
      }

      span {
        font-family: $glyph;
        font-size: 6rem;
      }

      h4 {
        margin-top: 10px;
        font-family: $lato;
      }
    }
  }

  .banner_footer {
    margin-top: 60px;
    z-index: 2;

    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }

  .copyright {
    color: $white;
    text-align: center;
    font-family: $poiret;
    font-size: 2rem;
  }
}
/***END CONTACT***/
/* monitors and laptops */
@media screen and (min-width: 1240px) {}
/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px) {}
@media screen and (min-width: 769px) and (max-width: 1365px) {
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 568px) and (max-width: 768px) {
/*CONTAINER*/
  .container {
    width: 95%;
  }
  /*END CONTAINER*/
  /***SECTION CONTENT***/
  .section_content {
    padding: 60px 0;
  }
  /***END SECTION CONTENT***/
  /*SECTION TITLE*/
  .section_title {
    .separator {
      .line {
        width: 200px;
        height: 1px;
      }

      .circle {
        margin: 0 20px -8px;
      }
    }
  }
  /*END SECTION TITLE*/
  /*NAVIGATION*/
  .header {
    nav {
      display: none;
    }
  }
  /*END NAVIGATION*/
  /*WRAP SECTION*/
  .wrap_section {
    flex-direction: column;
    margin-top: 50px;

    .about_section {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
  }
  /*END WRAP SECTION*/
  .banner_content {
    width: 50%;
    padding: 30px 0;

    h2 {
      font-size: 2rem;
    }
  }
  /*ABOUT*/
  #about {
    .info_wrap {
      width: 100%;
      margin-top: 50px;
    }

    .tree {
      display: none;
    }

    .myself {
      width: 100%;
      p {
        line-height: 1.2;
        font-size: 1.5rem;
      }
    }

    table {
      width: 100%;
      font-size: 1.2rem;
      align-items: center;
    }
  }
  /*END ABOUT*/
  /***SERVICES***/
  #services {
    .services_items {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .services_item {
        width: 90%;
        text-align: center;
        margin-bottom: 50px;

        &:last-child {
          margin: 0;
        }
      }

      .services_line {
        margin: 20px auto;
      }
    }
  }
  /***END SERVICES***/
  /***SKILLS***/
  #skills {
    .skillst {
      width: 100%;
      margin-top: 20px;
    }

    .carousel-wrap {
      width: 80%;
    }
  }
  /***END SKILLS***/
  /***PORTFOLIO***/
  #portfolio {
    .portfolio_items {
      margin: 0 auto;
      width: 100%;
    }
  }
  /***END PORTFOLIO***/
  /***CONTACT***/
  #contact {

    .contact_form form .form_inputs {
      flex-direction: column-reverse;
      .form_items {
        width: 100%;
      }
      .form_message {
        width: 100%;
      }
    }
    .social_icons {
      margin-top: 50px;

      ul {
        flex-wrap: wrap;

        li {
          margin-top: 50px;
          width: 50%;
          flex-grow: 1px!important;
        }
      }
    }
  }
  /***END CONTACT***/


}
/* mobile */
@media screen and (max-width: 567px) {
  .container {
    width: 95%;
  }
  /***SECTION CONTENT***/
  .section_content {
    padding: 60px 0;
  }
  /***END SECTION CONTENT***/
  /*SECTION TITLE*/
  .section_title {
    .separator {
      .line {
        width: 125px;
        height: 1px;
      }

      .circle {
        margin: 0 10px -8px;
      }
    }
  }
  /*END SECTION TITLE*/
  /***WRAP SECTION***/
  .wrap_section {
    flex-direction: column;
    margin-top: 50px;

    .about_section {
      text-align: center;
      width: 100%;
      margin-bottom: 50px;
    }
  }
  /***END WRAP SECTION***/
  /***NAVIGATION***/
  .header {
    nav {
      display: none;
    }
  }
  /***END NAVIGATION***/

  .banner_content {
    width: 90%;

    h2 {
      font-size: 3.5rem;
    }
  }
  /***ABOUT***/
  #about {
    .info_wrap {
      width: 100%;
      margin-top: 50px;
    }

    .tree {
      display: none;
    }

    .myself {
      width: 100%;
      p {
        line-height: 1.2;
        font-size: 1.2rem;
      }
    }

    table {
      width: 100%;
      font-size: 1.3rem;
      align-items: center;
    }
  }
  /***END ABOUT***/
  /***SERVICES***/
  #services {
    .services_items {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .services_item {
        width: 90%;
        text-align: center;
        margin-bottom: 50px;

        &:last-child {
          margin: 0;
        }
      }

      .services_line {
        margin: 20px auto;
      }
    }
  }
  /***END SERVICES***/
  /***SKILLS***/
  #skills {
    .skillst {
      width: 90%;
      margin-top: 20px;
    }

    .carousel-wrap {
      width: 80%;
    }
  }
  /***END SKILLS***/
  /***PORTFOLIO***/
  #portfolio {
    .portfolio_items {
      margin: 0 auto;
      width: 90%;
    }
  }
  /***END PORTFOLIO***/
  /***CONTACT***/
  #contact {

    .contact_form form .form_inputs {
      flex-direction: column-reverse;
      .form_items {
        width: 100%;
      }
      .form_message {
        width: 100%;
      }
    }
    .social_icons {
      margin-top: 50px;

      ul {
        flex-wrap: wrap;

        li {
          margin-top: 50px;
          width: 50%;
          flex-grow: 1px!important;
        }
      }
    }
  }
  /***END CONTACT***/
}/***END MEDIA 567***/
